[flake8]
max-line-length = 88
extend-ignore =
    E203,
    E501,
    W503,
    E722,
    F401,
    F403
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .navspec,
    build,
    dist,
    *.egg-info
per-file-ignores =
    __init__.py:F401
